%h1 Опросы
= link_to 'Новый опрос', new_admin_survey_path, class: 'btn btn-success'

%table.table
  %tr
    %th Вопрос
    %th Ответ №1
    %th Ответ №2
    %th Ответ №3
    %th Ответ №4
    %th Ответ №5
    %th
    %th
    %th

  - @admin_surveys.each do |admin_survey|
    %tr
      %td= admin_survey.question
      %td= admin_survey.answer_1
      %td= admin_survey.answer_2
      %td= admin_survey.answer_3
      %td= admin_survey.answer_4
      %td= admin_survey.answer_5
      %td= link_to 'Показать', admin_survey, class: 'btn btn-success'
      %td= link_to 'Редактировать', edit_admin_survey_path(admin_survey), class: 'btn btn-warning'
      %td= link_to 'Удалить', admin_survey, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger'

%br

