<div class="post c"><h4>Ответить на:</h4><div class="post-text"><%= forem_format(post.text) %></div>

      <div class='post-details'>
        <a href='#post-<%= post.id %>' class="date">
          <%= post_time_tag(post) %>
        </a>
        <span class='post-username'>
            <%= link_to post.user.forem_name, [main_app, post.user] %>
        </span>

    <% if post.reply_to %>
      <span class='in_reply_to'>
        <%= link_to "#{t("forem.post.in_reply_to")} #{post.reply_to.user.forem_name}", "#post-#{post.reply_to.id}" %>
      </span>
    <% end %>
  </div>
</div>
