.container
  #login
    = form_for(resource, as: resource_name, url: main_app.user_registration_path(resource), :html => {:class => "form-signin"}) do |f|
      - if devise_error_messages?
        = devise_error_messages!
      %fieldset.right-aligned
        .m-row
          = f.label :email do
            = User.human_attribute_name("email")
            %span.red &nbsp;*
          = f.email_field :email, :autofocus => true, class: "m-form-control", required: "required"
        .m-row
          = f.label :name  do
            = User.human_attribute_name("name")
            %span.red &nbsp;*
          = f.text_field :name, class: "m-form-control", required: "required"
        .m-row
          = f.label :password do
            = User.human_attribute_name("password")
            %span.red &nbsp;*
          = f.password_field :password, class: "m-form-control", required: "required"
        .m-row
          = f.label :password_confirmation do
            = User.human_attribute_name("password_confirmation")
            %span.red &nbsp;*
          = f.password_field :password_confirmation, class: "m-form-control", required: "required"
        .m-row
          = label_tag do
            Я владелец автомойки &nbsp;&nbsp;&nbsp;
          = check_box_tag 'user[car_wash_owner_checkbox]', 1, false, class: 'expander'
        #cw_owner.hidden
          .m-row
            = label_tag :car_wash_title do
              = User.human_attribute_name("car_wash_title")
              %span.red &nbsp;*
            = text_field_tag 'user[car_wash_title]', nil, class: "m-form-control", required: "required", disabled: true
          .m-row
            = f.label :phone do
              = User.human_attribute_name("phone")
              %span &nbsp;*
            = f.phone_field :phone, class: "m-form-control"
          .m-row
            = label_tag :address do
              = User.human_attribute_name("address")
              %span.red &nbsp;*
            = text_field_tag 'user[address]', nil,class: "m-form-control", required: "required", disabled: true
          #agreement_text
            = render 'agreement'
          %div
            %label.checkbox
              = check_box_tag 'agreement', '', false
              Нажимая кнопку «Зарегистрироваться», я принимаю условия Пользовательского соглашения
        = hidden_field_tag 'user[normal]', true
        .m-row
          .m-right
            =f.submit t("devise.sign_up"), class: "m-btn"
            %br
            = render "devise/shared/links"
