.container
  #login
    = form_for(resource, as: resource_name, :url => user_registration_path(resource), :html => {:class => "form-signin"}) do |f|
      - if devise_error_messages?
        %div#error_explanation
          %h4= t('errors.messages.registration_part1')
          %h4= t('errors.messages.registration_part2')
      %fieldset.right-aligned
        .m-row
          = f.label :email do
            = User.human_attribute_name("email")
            %span.red &nbsp;*
          = f.email_field :email, :autofocus => true, class: "m-form-control", required: "required"
        .m-row
          = f.label :phone do
            = User.human_attribute_name("phone")
            %span.red &nbsp;*
          = f.phone_field :phone, class: "m-form-control", required: "required"
        .m-row
          = f.label :contact_person do
            = User.human_attribute_name("contact_person")
            %span.red &nbsp;*
          = f.text_field :contact_person, class: "m-form-control", required: "required"
        .m-row
          = f.label :car_wash_title do
            = User.human_attribute_name("car_wash_title")
            %span.red &nbsp;*
          = f.text_field :car_wash_title, class: "m-form-control", required: "required"
        .m-row
          = f.label :address do
            = User.human_attribute_name("address")
            %span.red &nbsp;*
          = f.text_field :address, class: "m-form-control", required: "required"
        .m-row
          = f.label :password do
            = User.human_attribute_name("password")
            %span.red &nbsp;*
          = f.password_field :password, class: "m-form-control", required: "required"
        .m-row
          = f.label :password_confirmation do
            = User.human_attribute_name("password_confirmation")
            %span.red &nbsp;*
          = f.password_field :password_confirmation, class: "m-form-control", required: "required"
        .m-row#agreement_text
          = render 'agreement'
        .m-row
          %label.checkbox
            = check_box_tag 'agreement', '', false
            Нажимая кнопку «Зарегистрироваться», я принимаю условия Пользовательского соглашения
        .m-row= f.submit t("devise.sign_up"), disabled: true, class: "btn btn-lg btn-primary btn-block"
        %br
        = render "devise/shared/links"
