= bettertabs :auth_tabs, :selected_tab => current_tab, :render_only_active_content => false do |tab|
  = tab.static :sign_in,'Вход', :url => main_app.new_user_session_path do
    .c.clearfix
      = render 'devise/sessions/form'
  = tab.static :sign_up, 'Регистрация', :url => main_app.new_user_registration_path do
    .c.clearfix
      = render 'devise/registrations/form'