= bettertabs :auth_tabs, :selected_tab => current_tab, :render_only_active_content => false do |tab|
  = tab.static :sign_in,'вход', :url => new_user_session_path do
    = render 'devise/sessions/form'
  = tab.static :sign_up, 'регистрация', :url => new_user_registration_path do
    = render 'devise/registrations/form'