= form_for @car_wash, role: "form", html: {class: "car_wash_edit_details"} do |f|
  - if @car_wash.errors.any?
    #error_explanation
      %h2= "#{pluralize(@car_wash.errors.count, "error")} prohibited this car_wash from being saved:"
      %ul
        - @car_wash.errors.full_messages.each do |msg|
          %li= msg

  %fieldset.right-aligned.left
    .m-row
      = f.label CarWash.human_attribute_name("title")+':'
      = f.text_field :title, class: 'm-form-control'
    .m-row
      = f.label CarWash.human_attribute_name("address")+':'
      = f.text_field :address, class: 'm-form-control'
    .m-row
      = f.label 'Координаты'+':'
      = f.text_field :lat, class: 'm-form-control'
    .m-row
      = f.label ' ' 
      = f.text_field :lon, class: 'm-form-control'
    / .m-row
    /   = f.label CarWash.human_attribute_name("contacts")
    /   = f.text_field :contacts, class: 'm-form-control'
    .m-row
      = f.label CarWash.human_attribute_name("site_url")+':'
      = f.text_field :site_url, class: 'm-form-control'
    / .m-row
    /   = f.label CarWash.human_attribute_name("price")
    /   = f.text_field :price, class: 'm-form-control'
    .m-row
      = f.label CarWash.human_attribute_name("zones_count")+':'
      = f.text_field :zones_count, class: 'm-form-control'
    .m-row
      %h4 Услуги и цены
      -#= hidden_field_tag "car_wash[service_ids][]", nil
      - @car_wash_services.each do |cws|
        = f.fields_for :car_washes_services, cws do |ffc|
          .m-row
            = ffc.label cws.service.name+':'
            = ffc.text_field :price, class: 'm-form-control'
      .m-row
        = f.label 'Дополнительные услуги'
        = f.text_area :services, class: 'm-form-control wide'
    .m-row
      = f.submit 'Сохранить', class: 'm-btn'
  .right.cw_cat
    %h4 Дополнительные услуги
    = hidden_field_tag "car_wash[category_ids][]", nil
    - Category.all.each do |category|
      .m-row
        = check_box_tag "car_wash[category_ids][]", category.id, @car_wash.category_ids.include?(category.id), id: dom_id(category)
        = label_tag dom_id(category), category.name
    .m-row
      = f.submit 'Сохранить', class: 'm-btn'

