-#render 'payment_notification'
.c= render 'widgets_form'
.c
  %h4 Занятость
  = form_for @car_wash do |f|
    = f.radio_button :signal, true, class: 'toggle'
    = label_tag :signal, 'Свободно', class: 'toggle'
    = f.radio_button :signal, false, class: 'toggle'
    = label_tag :signal, 'Занято', class: 'toggle'
    .m-row
      = f.submit 'Сохранить', class: 'm-btn'

