- unless @car_wash.activated?
  .container
    .columns-12#not-activated
      %h3.text-center Мойка не активирована.
      - time_to_activate = (Time.at(7*24*3600 - (Time.now.utc - @car_wash.updated_at)).utc - 1.day)
      %h3.text-center= "До окончания тестового периода осталось #{time_to_activate.strftime("%d")} дней #{time_to_activate.strftime("%H")} ч. #{time_to_activate.strftime("%M")} мин."
      %p.text-center
        = link_to "Оплатить", car_wash_payments_path(@car_wash), class: 'blue_button'
