.header
  .m-row= link_to 'добавить автомойку', new_car_wash_path
  .m-row
    сортировать по:
    = link_to 'минимальной цене', car_washes_path('order_by' => 'price')
    = link_to 'рейтингу', car_washes_path('order_by' => 'rating')
    = paginate @car_washes
.list
  %ul
    - @car_washes.each do |cw|
      %li
        = link_to cw do
          .cbg= car_wash_background cw
          .p
            %h3= cw.title
            %h4= cw.address 
            -5.times do |i|
              %span
                = image_tag asset_path(cw.rating >= i+1 ? 'star_e.png' : 'star_d.png')
