-title 'Список автомоек'
.c.pagination-wrap
  -#.m-row= link_to 'добавить автомойку', new_car_wash_path
  .m-row
    -#
      сортировать по:
      = link_to 'минимальной цене', car_washes_path('order_by' => 'price')
      = link_to 'рейтингу', car_washes_path('order_by' => 'rating')
    = paginate @car_washes
.cw-list
  - @car_washes.each do |cw|
    = link_to cw do
      .cw.c.left
        -#.cbg= car_wash_background cw
        .p
          %h3= cw.title
          %span.address= cw.address
        .rating
          -5.times do |i|
            .star{ class: (cw.rating >= i+1 ? 'lit' : 'dim')}
        .categories.small
          - cw.categories.each do |category|
            .cat-pic{ class: category.image + ' ' + cycle('','light')}
