-title @car_wash.title
-# content_for :background, car_wash_background(@car_wash)
#cw_header.c
  .bgt.mobile-block
    %h1= link_to car_wash_title(@car_wash.title), @car_wash

    / .rating 
    /   = render partial: 'rate_it', locals: {item: @car_wash}
    .categories.clearfix
      - @car_wash.categories.each do |category|
        .cat-pic{ class: category.image + ' ' + cycle('','light')}
#cw_content.clearfix
  #cw-first.mobile-block
    .left.mobile-block
      #cw-info.c.mobile-block
        .info
          .phone.v-inline
            = image_tag 'phone.png'
            - unless @car_wash.contacts.blank?
              = link_to @car_wash.contacts, "tel:#{@car_wash.contacts}"
            - else
              %span Нет
          .address.v-inline
            = image_tag 'pin.png'
            %span= @car_wash.address
          .working-time.v-inline
            = image_tag 'clock.png'
            %span= car_wash_working_time @car_wash
          .website.v-inline
            = image_tag 'globe_24.png'
            -unless @car_wash.site_url.blank?
              %span= link_to @car_wash.site_url, url_with_protocol(@car_wash.site_url), :target => '_blank'
            -else
              %span.no-info нет информации
          .proposal.v-inline
            %span.percent %
            -unless @car_wash.widget_content.blank?
              %span= @car_wash.widget_content
            -else
              %span.no-info нет предложений
          
          .prices
            - Service.all.each do |service|
              - cws = CarWashesService.find_by(car_wash_id: @car_wash.id, service_id: service.id)
              .m5
                %span.svc= "#{service.name}:"
                %span.no-info= "#{cws.try(:price).blank? ? 'нет информации' : cws.price}"
            -unless @car_wash.additional_services.blank?
              = link_to 'показать дополнительные услуги', 'javascript:;', class: 'blue', 'data-show-that' => '.additional_svc'
              .additional_svc.hidden
                %h4 Дополнительные услуги:
                %div= @car_wash.additional_services
      #cw-actions.c.mobile-block
        -#
          .cd
            =link_to 'Регистрация для клиентов автомойки', new_registration_path(:user), class: 'blue'
        #subscribe_button
          - if current_user.blank?
            = link_to t('.register_and_subscribe'), new_user_registration_path, class: 'blue reg'
          - elsif current_user.car_washes.where(id: @car_wash.id).blank?
            = link_to t('.subscribe'), car_washes_subscribe_path(@car_wash, current_user.id), method: :post, remote: true, class: 'blue scr'
          - else
            = link_to t('.you_are_subscribed'), "#", class: 'alr'
        .cd
          =link_to 'Оставить заявку', new_car_wash_request_path(@car_wash), class: 'blue'
    #cw-map.c.mobile-block
      
      -#
        #info.left
          = render partial: "car_wash_info", locals: { car_wash: @car_wash, left_actions: @left_actions }
      #map.mobile-block
      /=link_to "Оставить заявку",new_car_wash_request_path(@car_wash), class: 'blue'
      / #cw_signal
      /   = render 'signal'
  #cw-second.mobile-block
    #cw-reviews.mobile-block
      .c
        %h4 Отзывы
        -#= link_to 'Написать отзыв', new_car_wash_review_path(@car_wash)
        -#= link_to 'написать свой', 'javascript:;', class: 'blue', 'data-show-that' => '.rating'
        .lp= 'оцените автомойку:'
        .rating
          = render partial: 'rate_it_opened', locals: {item: @car_wash, rating: 0}
        .reviews-items
          = render @car_wash.reviews
    .v-content.mobile-block
      #cw-live.mobile-block
        %h4 Видеотрансляция
        .ivideon_c
          %h5=@car_wash.video_title1
          = render 'video_100p', src: @car_wash.video_url1 
        .ivideon_c
          %h5=@car_wash.video_title2
          = render 'video_100p', src: @car_wash.video_url2 

      #cw-videos.mobile-block
        -unless @car_wash.title_video_url.nil?
          %h4 Видеопрезентация
          -#= render 'client_youtube', src: @car_wash.title_video_url
          = render 'client_youtube', src: video_url(@car_wash.title_video_url)

  #cw-images.c.clearfix.mobile-block
    = render @images
  -#= tab.static :hiring, "вакансии: #{@vacancy_actions.size}" do
  -#  #c
  -#    = actions(@vacancy_actions, 'li')

:javascript
  window.categories_map = #{map_relation_to_obj(Category.all,:id,:image)};
  window.car_wash = [#{@car_wash.as_json.merge(url:car_wash_url(@car_wash), categories_concated: @car_wash.categories_concated, category_ids: @car_wash.category_ids).to_json}]

- content_for :map_script do
  =javascript_include_tag "http://api-maps.yandex.ru/2.1/?lang=ru_RU&"
  =javascript_include_tag 'map_general_lite'