#cw_header
  .hbg
    = car_wash_background @car_wash
  .bgt
    %h1= car_wash_title @car_wash.title
#cw_content
  = bettertabs :cw_tabs, selected_tabs: :info do |tab|
    = tab.static :info, 'информация' do
      #c
        #cw_dashboard
          #cw_signal
            = render 'signal'
        = render partial: "car_wash_info", locals: { car_wash: @car_wash, left_actions: @left_actions }
    = tab.static :live, 'трансляция' do
      #c
        .ivideon_c
          %h5=@car_wash.video_title1
          = render 'video_100p', src: @car_wash.video_url1
        .ivideon_c
          %h5=@car_wash.video_title2
          = render 'video_100p', src: @car_wash.video_url2
    = tab.static :video, "видео: #{@banners.where(type: 'ClientVideoBanner').size}" do
      #c
        - banner = @banners.where(type: 'ClientVideoBanner').first
        - unless banner.nil? || banner.filename.blank?
          %h5.text-center= banner.text.blank? ? (raw '&nbsp;'):(banner.text)
          = render 'client_youtube', src: banner.filename
    = tab.static :hiring, "вакансии: #{@vacancy_actions.size}" do
      #c
        = actions(@vacancy_actions, 'li')
    = tab.static :reviews, "отзывы: #{@car_wash.reviews.size}" do
      #c
        = link_to 'Написать отзыв', new_car_wash_review_path(@car_wash)
        = render @car_wash.reviews
