= form_for [:admin,@settings], html: {class: 'form-horizontal'}, method: :put do |f|
  - if @settings.errors.any?
    #error_explanation
      %h2= "#{pluralize(@settings.errors.count, "error")} prohibited settings from being saved:"
      %ul
        - @settings.errors.full_messages.each do |msg|
          %li= msg

  .form-group.row
    = label_tag nil, 'Сообщение в бегущей строке', class: 'control-label col-lg-2'
    .col-lg-3
      = f.text_field :mq_message, class: 'form-control'
  - 5.times do |i|
    .row
      = label_tag nil, "Сообщение в желтой строке №#{i+1}", class: 'control-label col-sm-8 text-left'
      = label_tag nil, "Ссылка №#{i+1}", class: 'control-label col-sm-4'
    .form-grop.row
      .col-sm-8
        = f.text_field "cl_message_#{i}_text", class: 'form-control'
      .col-sm-4
        = f.text_field "cl_message_#{i}_url", class: 'form-control'
  .row
    .col-lg-4
      = submit_tag t("save_button"), class: 'btn btn-danger btn-block'