%ul.nav.nav-pills.list-group
  %li= link_to 'Бегущая строка', admin_marquee_ads_path, class: 'list-group-item'
  %li= link_to 'Вращающийся куб', admin_cube_ads_path, class: 'list-group-item'
  %li= link_to t('.users'), admin_users_path, class: 'list-group-item'
  -# %li= link_to t('.adv'), admin_banners_path, class: 'list-group-item'
  %li= link_to 'Реклама', admin_ad_settings_path, class: 'list-group-item'
  %li= link_to 'Опросы', admin_surveys_path, class: 'list-group-item'
  -# %li= link_to t('.static_pages'), admin_static_pages_path, class: 'list-group-item'
  %li= link_to t('О Проекте'), edit_admin_static_page_path(@about), class: 'list-group-item'
  %li= link_to t('Юридическая Информация'), edit_admin_static_page_path(@legal), class: 'list-group-item'
  %li= link_to t('.car_washes'), admin_car_washes_path, class: 'list-group-item'
  %li= link_to t('.posts'), admin_posts_path, class: 'list-group-item'
  %li= link_to t('Видео-публикации'), admin_video_posts_path, class: 'list-group-item'
