#c
  #user_show
    - t(".registration_message.#{@user.type}").each {|x| haml_tag :h3, x, class: "text-center" }

    %br
    %h4.text-center= t('.reg_info')
    #info
      %table.m-info-table
        %tr
          %td Электронная почта:
          %td= @user.email
        %tr
          %td Телефон:
          %td= @user.phone
        %tr
          %td Контактное лицо:
          %td= @user.name
        %tr
          %td Название автомойки:
          %td= @user.car_wash_title
