%h1 Listing navs

%table#sortable.table
  %tr
    %th Name
    %th Path
    %th Image url
    %th Hidden-xs
    %th
    %th
    %th

  - @navs.each do |nav|
    %tr{ "class" => 'item', "data-item-id" => nav.id}
      %td= nav.name
      %td= nav.path
      %td= nav.image_url
      %td= nav.hidden_xs
      %td= link_to 'Show', [:admin, nav]
      %td= link_to 'Edit', edit_admin_nav_path(nav)
      %td= link_to 'Destroy', [:admin, nav], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Nav', new_admin_nav_path
