%p#notice= notice

%p
  %b Name:
  = @nav.name
%p
  %b Path:
  = @nav.path
%p
  %b Image url:
  = @nav.image_url
%p
  %b Hidden-xs:
  = @nav.hidden_xs

= link_to 'Edit', edit_admin_nav_path(@nav)
\|
= link_to 'Back', admin_navs_path
