= form_for(resource, as: resource_name, :url => user_registration_path(resource), :html => {:class => "form-carwash"}) do |f|
  %fieldset
    %div
      = f.label :car_wash_title do
        = User.human_attribute_name("car_wash_title")
        %span.red &nbsp;*
      %br/
      = f.text_field :car_wash_title, class: "form-control", required: "required"
    %div
      = f.label :phone do
        = User.human_attribute_name("phone")
        %span.red &nbsp;*
      %br/
      = f.text_field :phone, class: "form-control", required: "required"
    %div
      = f.label :address do
        = User.human_attribute_name("address")
        %span.red &nbsp;*
      %br/
      = f.text_field :address, class: "form-control", required: "required"
      = hidden_field_tag 'user[type]', 'car_wash_owner'
    #agreement_text
      = render 'agreement'
    %div
      %label.checkbox
        = check_box_tag 'agreement', '', false
        Нажимая кнопку «Зарегистрироваться» или «Сохранить», я принимаю условия Пользовательского соглашения
    %div= f.submit 'Сохранить', disabled: true, class: "btn btn-lg btn-primary btn-block"
