= form_for [item, @video] do |f|
  - if @video.errors.any?
    #error_explanation
      %h2= "#{pluralize(@video.errors.count, "error")} prohibited this video from being saved:"
      %ul
        - @video.errors.full_messages.each do |msg|
          %li= msg

  %fieldset.spaced
    .m-row
      = f.label 'Ссылка'
    .m-row
      = f.text_field :url, class:'m-form-control'
    .m-row
      = f.label 'Описание'
    .m-row
      = f.text_area :description, class:'m-form-control'
    .m-row
      = f.submit 'Сохранить', class: 'm-btn'
