= form_for [@car_wash, @request] do |f|
  %fieldset.right-aligned
    - if @request.errors.any?
      #error_explanation
        %h2= "#{pluralize(@request.errors.count, "error")} prohibited this request from being saved:"
        %ul
          - @request.errors.full_messages.each do |msg|
            %li= msg

    .m-row
      = f.label "Имя:"
      = f.text_field :name
    .m-row
      = f.label "Телефон:"
      = f.text_field :phone
    .m-row
      = f.label "Электронная почта:"
      = f.text_field :email
    .m-row
      = f.label "Заявка:"
      = f.text_area :text
    .m-row
      = f.submit t("save_button"), class: 'm-btn'
