%h1 Listing navs

%table
  %tr
    %th Name
    %th Path
    %th Image url
    %th Hidden-xs
    %th
    %th
    %th

  - @navs.each do |nav|
    %tr
      %td= nav.name
      %td= nav.path
      %td= nav.image_url
      %td= nav.hidden-xs
      %td= link_to 'Show', nav
      %td= link_to 'Edit', edit_nav_path(nav)
      %td= link_to 'Destroy', nav, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Nav', new_nav_path
