= form_for [:admin,@admin_post], role: 'form' do |f|
  - if @admin_post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_post.errors.count, "error")} prohibited this admin_post from being saved:"
      %ul
        - @admin_post.errors.full_messages.each do |msg|
          %li= msg
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :subtitle
    = f.text_field :subtitle, class: 'form-control'

  .form-group
    = f.label :content
    = f.bootsy_area :content, class: 'form-control col-lg-10', size: "10x20"

  %br
  %hr
  .row
    .col-lg-4.col-lg-offset-4
      = f.submit t("save_button"), class: 'btn btn-danger btn-block'
