.row
  .col-lg-12
    = link_to 'Написать новость', new_admin_news_post_path, class: 'btn btn-success'
    = link_to "Написать статью", new_admin_info_post_path, class: 'btn btn-success'
%h1= t('.header')

%table.table
  %tr
    %th Заголовок
    %th Подзаголовок
    %th Тип
    %th Дата создания
    %th
    %th

  - @admin_posts.each do |admin_post|
    %tr
      %td= admin_post.title
      %td= admin_post.subtitle
      %td= admin_post.type_name
      %td= admin_post.created_at.localtime.strftime("%H:%M %d.%m.%Y")
      %td= link_to t('show_link'), admin_post_path(admin_post), class: 'btn btn-success'
      %td= link_to t('edit_button'), edit_admin_post_path(admin_post), class: 'btn btn-warning'
      %td= link_to t('delete_button'), admin_post_path(admin_post), :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: 'btn btn-danger'
