.auth
  = bettertabs :auth_tabs, :selected_tab => :sign_in, :render_only_active_content => false do |tab|
    = tab.static :sign_in,'вход', :url => '/sign_in' do
      = render 'devise/sessions/form'
    = tab.static :sign_up, 'регистрация', :url => '/sign_up' do
      = render 'devise/registrations/new_normal_user_form'