.auth
  = bettertabs :auth_tabs, :selected_tab => :sign_up_1, :render_only_active_content => false do |tab|
    = tab.static :sign_in,'sign in', :url => 'sign_in' do
      = render 'devise/sessions/new'
    = tab.static :sign_up_1, :url => 'sign_up/car_wash' do
      = render 'devise/registrations/new_car_wash_user_form'
    = tab.static :sign_up_2, :url => 'sign_up/driver' do
      = render 'devise/registrations/new_normal_user_form'
/ .panel
/   %ul.nav.nav-pills
/     %li.active{ 'data-t oggle' => 'pill' }
/       = link_to 'вход', '#sign_in'
/     %li{ 'data-toggle' => 'pill' }
/       = link_to 'регистрация', '#sing_up'
/ .tab-content
/   #sign_in.tab-pane
/     = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-signin"}) do |f|
/       %fieldset
/         = f.label :email, User.human_attribute_name("email")
/         %br/
/         = f.email_field :email, :autofocus => true, class: "form-control"
/         = f.label :password, User.human_attribute_name("password")
/         %br/
/         = f.password_field :password, class: "form-control"
/         - if devise_mapping.rememberable?
/           = f.label :remember_me, class: "checkbox" do
/             = t("devise.remember_me")
/             = f.check_box :remember_me
/         = f.submit t("devise.sign_in"), class: "btn btn-lg btn-primary btn-block"
/         %br
/         = render "devise/shared/links"
/   #sing_up.tab-pane
/     = form_for(NormalUser.new, as: resource_name, url: normal_user_registration_path(resource), :html => {:class => "form-signin"}) do |f|
/       - if devise_error_messages?
/         %div#error_explanation
/           %h4= t('errors.messages.registration_part1')
/           %h4= t('errors.messages.registration_part2')
/       %fieldset
/         %div
/           = f.label :email do
/             = NormalUser.human_attribute_name("email")
/             %span.red &nbsp;*
/           %br/
/           = f.email_field :email, :autofocus => true, class: "form-control", required: "required"
/         %div
/           = f.label :name do
/             = NormalUser.human_attribute_name("name")
/             %span.red &nbsp;*
/           %br/
/           = f.text_field :name, class: "form-control", required: "required"
/         %div
/           = f.label :phone, NormalUser.human_attribute_name("phone")
/           %br/
/           = f.phone_field :phone, class: "form-control"
/         %div
/           = f.label :password do
/             = NormalUser.human_attribute_name("password")
/             %span.red &nbsp;*
/           %br/
/           = f.password_field :password, class: "form-control", required: "required"
/         %div
/           = f.label :password_confirmation do
/             = NormalUser.human_attribute_name("password_confirmation")
/             %span.red &nbsp;*
/           %br/
/           = f.password_field :password_confirmation, class: "form-control", required: "required"
/         = hidden_field_tag 'user[normal]', true
/         %div= f.submit t("devise.sign_up"), class: "btn btn-lg btn-primary btn-block"
/         %br
/         = render "devise/shared/links"