<div id='topic' class='<%= 'un' unless @topic.locked? %>locked'>
  <%= render :partial => 'forem/topics/head', :locals => { :topic => @topic } %>

  <div id='menu'>
    <div class='btn-group c'>
      <% if @topic.user == forem_user || forem_admin? %>
        <%= link_to t(".delete"), forem.forum_topic_path(@forum, @topic), :method => :delete, data: { :confirm => t("are_you_sure") }, :class => "m-btn btn-danger" %>
      <% end %>
        
    </div>
    <% if false && forem_admin? %>
      <div class='btn-group c'>
        <%= link_to t('forem.topic.links.edit'), forem.edit_admin_forum_topic_path(@forum, @topic), :class => "m-btn" %>
        <%= link_to t(".hide.#{@topic.hidden}"), forem.toggle_hide_admin_forum_topic_path(@forum, @topic), :method => :put, :class => "m-btn" %>
        <%= link_to t(".lock.#{@topic.locked}"), forem.toggle_lock_admin_forum_topic_path(@forum, @topic), :method => :put, :class => "m-btn" %>
        <%= link_to t(".pin.#{@topic.pinned}"), forem.toggle_pin_admin_forum_topic_path(@forum, @topic), :method => :put, :class => "m-btn" %>
      </div>
    <% end %>
  </div>

  <% if @topic.pending_review? %>
    <div class="moderation alert" id='topic_moderation'>
      <%= t(".pending_review") %>
      <% if forem_admin_or_moderator?(@topic.forum) %>
        <%= form_for @topic, :url => forem.moderate_forum_topic_path(@topic.forum, @topic), :method => :put do |f| %>
          <%= render "/forem/moderation/options", :f => f %>
        <% end %>
      <% end %>
    </div>
  <% end %>

  <%= forem_pages_widget(@posts) %>

  <div id='posts' >
    <%= render :partial => "forem/posts/post", :collection => @posts %>
  </div>

  <%= forem_pages_widget(@posts) %>

  <%= simple_form_for [forem, @topic.forum, @topic, @topic.posts.build] do |f| %>
  <div class="c">
  <%= render :partial => "forem/posts/form", :locals => { :f => f } %>
  <%= f.submit t("forem.post.buttons.reply"), :class => "m-btn btn-primary" %>
  </div>
<% end %>
</div>
