.logo.hidden-xs
  =link_to :root do
    =image_tag 'logo.png'
.social.hidden-xs
  =render 'social'
%nav
  %ul
    %li
      - if user_signed_in?
        = link_to t('logout'), main_app.destroy_user_session_path, :method => :delete
      - elsif normal_user_signed_in?
        = link_to t('logout'), main_app.destroy_normal_user_session_path, :method => :delete
      - else
        = link_to 'Вход', new_user_session_path, :remote => true
      = image_tag asset_path 'login.png'
    - @navs.each do |n|
      %li{ class: ('active' if n.path.tr('/','') == request.fullpath.split('/').second.to_s) } 
        -# = debug n.path.tr('/','')
        -# = debug current_path.split('/').to_s
        -# = debug request_params
        = link_to n.name, n.path_or_root, :remote => n.remote
        = image_tag asset_path n.image_url
