.ocean
  =image_tag 'ocean2.png'
.logo.hidden-xs
  =link_to :root, class: 'image' do
    =image_tag 'logo_red2.png'
//.hr
#social
  = render 'social'
%nav
  %ul
    = render 'devise'
    = render 'navs'
  - unless @survey.nil? || session['passed_survey']
    %article#survey
      = form_for SurveyResult.new, url: main_app.survey_results_path, :remote => true do |f|
        %p= @survey.question
        - 5.times do |i|
          - ans = @survey.send("answer_#{i+1}")
          - unless ans.blank?
            .m-row
              = f.radio_button :result, i+1
              = f.label ans
              = hidden_field_tag :survey_id, @survey.id
        .m-row
          = f.submit 'Отправить'
#footer
  = render 'footer'


