.ocean
  =image_tag 'ocean2.png'
.logo.hidden-xs
  =link_to :root, class: 'image' do
    =image_tag 'logo_red2.png'
//.hr
#social
  = render 'social'
%nav
  %ul
    = render 'devise'
    = render 'navs'
  - unless @survey.nil?
    %article#survey
      = form_for SurveyResult.new, url: main_app.survey_results_path, :remote => true do |f|
        %p= @survey.question
        - 5.times do |i|
          - ans = @survey.send("answer_#{i+1}")
          - unless ans.blank?
            .m-row
              = f.radio_button :result, i+1
              = f.label ans
              = hidden_field_tag :survey_id, @survey.id
        .m-row
          = f.submit 'Отправить'
  %h5.pad-7 Новости
  %section#news_list
    - @news.each do |n|
      = link_to main_app.post_path(n) do
        %span
          = l n.created_at, format: :short
        %br
        %b= n.title.truncate(35)
        %br
        = strip_tags n.content.truncate(80)
#footer
  = render 'footer'


