!!!
%html{ lang: I18n.locale }
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %meta{content: t('site_description'), name: "description"}
    %meta{content: t('site_keywords'), name: "keywords"}
    %title= t("site_title")
    = stylesheet_link_tag    "application", media: "all", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body{ class: controller.controller_name.dasherize }
    #sb
      = render partial: 'sidebar'
    #hd
      = render partial: 'header'
    #m
      = yield
    - unless controller.controller_name == 'map'
      #ad
        = render partial: 'ads'
    
    
    /#footer
    /  = render partial: 'footer'
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = yield :map_script