!!!
%html{ lang: I18n.locale }
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %meta{content: t('site_description'), name: "description"}
    %meta{content: t('site_keywords'), name: "keywords"}
    %title= content_for?(:title) ? yield(:title) : t('site_title')
    = stylesheet_link_tag    "application", media: "all"
    = csrf_meta_tags
  %body{ class: controller.controller_name.dasherize + (' ads' if need_ads).to_s }
    #sb
      = render partial: 'sidebar'
    #hd
      = render partial: 'header'
    #auth
      = render partial: 'devise/shared/auth', locals: {current_tab: :sign_in}
    - flash.each do |flash, msg|
      .flash{class: flash}= msg
    #m
      = yield
    = ads_block
    
    
    /#footer
    /  = render partial: 'footer'
    = javascript_include_tag "application"
    = yield :map_script