!!!
%html{ lang: I18n.locale }
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}
    %meta{content: t('site_description'), name: "description"}
    %meta{content: t('site_keywords'), name: "keywords"}
    = stylesheet_link_tag    "mobile", media: "all"
    = csrf_meta_tags
    %title= 'Пульт управления'
  %body{ class: controller.controller_name.dasherize + ' ' + controller.action_name.dasherize + (' ads' if need_ads).to_s }
    - flash.each do |flash, msg|
      .flash{class: flash}= msg
    = yield
    -#footer
      = render partial: 'footer'
    = javascript_include_tag "mobile"